@{
    ViewData["Title"] = "Rota Calendar";
}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-6 fw-bold mb-0 text-primary">Rota Calendar</h1>
        <a asp-action="Create" asp-controller="Rotas" class="btn btn-primary d-flex align-items-center">
            <i class="fas fa-plus-circle me-2"></i>New Rota
        </a>
    </div>

    <div class="card shadow-lg border-0">
        <div class="card-body">
            <div id="calendar-container" style="position: relative;">
                <div id="calendar-loading" class="text-center" style="display:none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-2 text-muted">Loading Calendar...</p>
                </div>
                <div id='calendar'
                    data-get-rotas-url="@Url.Action("GetCalendarRotas", "Rotas")"
                    data-create-rota-url="@Url.Action("Create", "Rotas")""
                    data-delete-rota-url="@Url.Action("Delete", "Rotas")"
                ></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
  <!-- FullCalendar JS and CSS from CDN -->    
    <script src='../../js/pages/calendar/index.global.min.js'></script>
    <script src='../../js/pages/calendar/locales-all.global.min.js'></script>
    
    <link href="../../css/pages/calendar/main.min.css" rel="stylesheet" />
    <link href="../../css/pages/calendar/calendar.css" rel="stylesheet" />
    <script src='../../js/pages/calendar/calendar.js'></script>
}